/* main_container is shared */
.main_container {
    min-height: 500px;
    background: #21242b;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #ebeff2;
    margin:0 auto;
    padding:0;
    border: 1px solid red;
}
.steps_container {
    border: 1px solid green;
    padding: 0 100px;
}
.stepsbar {
    background-color: white;
}

.calculator_container {
    display: flex;
}

.side_container {
    width:200px;
    height:400px;
    border: 1px solid green;
}
.info_container {
    background-color: #f0f8ff;
    width:1000px;
    border: 1px solid purple;
    color: black;
}
