.main_container {
    border: 1px solid green;
}
.steps_container {
    border: 1px solid green;
}
.side_container {
    border: 1px solid green;
}
.info_container {
    border: 1px solid green;
}
.stepsbar {
    background-color: white;
}
