/* no need for @import '~antd/dist/antd.css';
 * babel-plugin-import will import styles and import components */

/* another annoying feature of antd is the ridiculous global css style */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.layout_header {
    background-color: #343944;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #32394a;
    padding: 30px 30px;
    color: #ebeff2;
}

.layout_footer {
    background-color: #343944;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #32394a;
    padding: 10px;
    color: #ebeff2;
}

/* main_container is shared */
.main_container {
    min-height: 500px;
    background: #21242b;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #ebeff2;
    margin:0;
    padding:0;
}

.layout_header h1,
.layout_footer h1 {
    font-size: 16px;
    margin:0;
    color: #ebeff2;
}
